<html>
<head>
<title>person title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
</head>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		aria-label="Eighth navbar example">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarsExample07">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/persons">Home</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/persons-table">Persons Table</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/persons-about">About</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						data-bs-toggle="dropdown" aria-expanded="false">Options</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/persons">Home</a></li>
							<li><a class="dropdown-item" href="/persons-table">Persons
									Table</a></li>
							<li><a class="dropdown-item" href="/persons-about">About</a></li>
						</ul></li>
				</ul>
				<form role="search">
					<input class="form-control" type="search" placeholder="Search"
						aria-label="Search">
				</form>
			</div>
		</div>
	</nav>







	<!-- <nav class="py-2 bg-body-tertiary border-bottom">
		<div class="container d-flex flex-wrap">
			<ul class="nav me-auto">
				<li class="nav-item"><a href="/persons"
					class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
				<li class="nav-item"><a href="/persons-table"
					class="nav-link link-body-emphasis px-2">Persons Table</a></li>
				<li class="nav-item"><a href="/persons-about"
					class="nav-link link-body-emphasis px-2">About</a></li>
			</ul>
			<ul class="nav">
				<li class="nav-item"><form
						class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
						<input type="search" class="form-control" placeholder="Search..."
							aria-label="Search">
					</form></li>
			</ul>
		</div>
	</nav>  -->


	<div class="container">
		<!-- changes width based on page width -->
		<div layout:fragment="content">this is a bootstrap common
			content</div>
	</div>



	<footer class="py-3 my-4 fw bold">
		<strong>
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="/persons"
					class="nav-link px-2 text-body-secondary">Home</a></li>
				<li class="nav-item"><a href="/persons-table"
					class="nav-link px-2 text-body-secondary">Persons Table</a></li>
				<li class="nav-item"><a href="/persons-about"
					class="nav-link px-2 text-body-secondary">About</a></li>
			</ul>
			<p class="text-center text-body-secondary">© 2025 Company, Inc</p>
		</strong>
	</footer>


	<!-- <div class="container">
		<footer
			class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<p class="col-md-4 mb-0 text-body-secondary">© 2025 Company, Inc</p>
			<a href="/persons"
				class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
				aria-label="Bootstrap"> <svg class="bi me-2" width="40"
					height="32" aria-hidden="true">
					<use xlink:href="#bootstrap"></use></svg>
			</a>
			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item"><a href="/persons"
					class="nav-link px-2 text-body-secondary">Home</a></li>
				<li class="nav-item"><a href="/persons-table"
					class="nav-link px-2 text-body-secondary">Persons Table</a></li>
				<li class="nav-item"><a href="/persons-about"
					class="nav-link px-2 text-body-secondary">About</a></li>
			</ul>
		</footer>
	</div> -->

</body>



<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"></script>

</html>