<html layout:decorate="~{layout/personsmain}">
<head>
<title>Persons Table</title>
<style>
table{border-style:solid;}
</style>
</head>

<body>
	<div layout:fragment="content">
		<p>Below is a list of persons currently in the system</p>
		<table class="table table-bordered">
			<tr style="text-align: center; 
			font-size: 24px;"><td colspan="4">Persons Table</td></tr>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>Address</th>
			</tr>
			
			<tr th:each="person : ${persons}">
				<td th:text="${person.firstName}"></td>
				<td th:text="${person.lastName}"></td>
				<td th:text="${person.gender}"></td>
				<td th:text="${person.address}"></td>
			</tr>
				
		</table>
	</div>


</body>



</html>